.event-summary {
  background-color: $color_white;
  height: 100%;
  border-radius: 1.6rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 3.2rem;

  &__header {
    @include h4;
    color: $color_black;
  }
}
