.event-page {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;

  &__title {
    @include h3;

    &-wrapper {
      display: flex;
      flex-direction: row;
      gap: 1.6rem;
      align-items: center;
    }
  }

  &__header {
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.4rem;
    margin-top: 1.6rem;
  }

  &__widgets {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    height: fit-content;
  }

  &__event-info,
  &__event-summary {
    grid-column: span 5;
  }
}
